<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/stylesheets/registration.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="media\clutch logo circle.png">
</head>

<body>
    <div class="hero_section">
        <video autoplay loop muted>
            <source src="media\clutch website bg glitch.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video_filter"></div>

        <nav class="navbar">
            <div class="navbar-left">
                <img src="media\clutch logo circle.png" class="logo" alt="Clutch logo">
                <a href="/" class="nav-link">our network</a>
            </div>
            <div class="navbar-right">
                <a href="/#tournaments" class="nav-link">tournaments</a>
                <a href="/#contact" class="nav-link">contact us</a>
            </div>
        </nav>

        <div class="register-section">
            <h1><span class="highlight">REGISTER</span> FOR OUR NEXT TOURNAMENT</h1>
            <div class="game-options">
                <a href="/register/valorant" class="game-card">
                    <img src="media/valorant.jpg" alt="Valorant">
                    <p>VALORANT</p>
                </a>
                <a href="/register/bgmi" class="game-card">
                    <img src="media/bgmi.jpg" alt="BGMI">
                    <p>BGMI</p>
                </a>
                <a href="/register/freefire" class="game-card">
                    <img src="media/free_fire.jpg" alt="Free Fire">
                    <p>FREE FIRE</p>
                </a>
            </div>
        </div>
    </div>




</body>

</html>